@use '../../../styles/variables' as glob-var;

.nav {
  height: glob-var.$nav-height;
}

.nav__logo {
  width: 40px;
  height: 40px;
  position: relative;
  justify-self: flex-start;

  @apply ml-2.5;
}
