//It does not animate the transition when i use an image
.home {
  background: url('/page-background-9.png') no-repeat center center fixed;
  background-size: cover;

  @apply bg-gray-300;
}

.home--dark {
  background: url('/page-background-secondary.jpg') no-repeat center center
    fixed;
  background-size: cover;
  @apply bg-gray-600;
}

.clouds--slow {
  animation: moveClouds 45s linear infinite;
}

.clouds--slower {
  animation: moveClouds 65s linear infinite;
}

@keyframes moveClouds {
  from {
    transform: translateX(-100vw);
    opacity: 0.8;
  }
  to {
    transform: translateX(100vw);
    opacity: 1;
  }
}
